.logo-spacer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1080px;
  z-index: 13;
}

.server-name {
  font-size: 50px;
  font-family: "Open Sans";
  text-transform: uppercase;
  color: rgb(33, 33, 33);
  font-weight: bold;
  line-height: 5.2;
  text-align: left;
  position: absolute;
  left: 83.656px;
  top: 213.5px;
  z-index: 15;
}

.server-gamemode {
  font-size: 50px;
  text-transform: uppercase;
  font-family: "Open Sans";
  color: rgb(255, 191, 6);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 83.984px;
  top: 257.5px;
  z-index: 16;
}

.welcome {
  font-size: 50px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 0.67888371598415,0,0,0.67888371598415,0,0);
  -webkit-transform: matrix( 0.67888371598415,0,0,0.67888371598415,0,0);
  -ms-transform: matrix( 0.67888371598415,0,0,0.67888371598415,0,0);
  position: absolute;
  left: 598.782px;
  top: 482px;
  z-index: 45;
}
